.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  margin: 16px;
  align-items: baseline;
  width: 174px;
  gap: 8px;
  &:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(222, 250, 250);
  }
}
