.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  padding: 16px;
  margin: 16px;
  align-items: baseline;
  width: 200px;
  &:hover {
    cursor: pointer;
  }
}
