.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  height: 40px;
  padding: 12px;
}

.tabs {
  display: flex;
  gap: 10px;
  height: 100%;

  .tab {
    display: flex;
    // padding: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:hover {
      cursor: pointer;
      background-color: rgb(229, 240, 250);
    }
  }
}

.search {
  background-color: whitesmoke;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 96px;
  .inputSearch {
    padding: 12px;
    background-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: transparent;
  }
  .searchBtn {
    .searchIcon {
      padding: 12px;
      outline: none;
      border: none;
      background-color: transparent;
    }
    &:hover {
      cursor: pointer;
      background-color: rgb(229, 240, 250);
    }
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (min-width: 640px) {
  .search {
    width: 256px;
  }
}
