.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(199, 252, 227);
  align-items: center;
  height: 40px;
  padding: 8px;
}

.tabs {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  .tab {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 100%;
    border-right: 1px solid rgb(199, 252, 227);
    border-left: 1px solid rgb(199, 252, 227);
    &:hover {
      cursor: pointer;
      background-color: rgb(229, 240, 250);
    }
    &:active {
      background-color: rgb(229, 240, 250);
    }
  }
}

.search {
  background-color: whitesmoke;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 256px;
  .inputSearch {
    padding: 12px;
    background-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: transparent;
  }
  .searchBtn {
    .searchIcon {
      padding: 12px;
      outline: none;
      border: none;
      background-color: transparent;
    }
    &:hover {
      cursor: pointer;
      background-color: rgb(229, 240, 250);
    }
  }
}

.switchBtn {
  border-radius: 8px solid rgb(109, 105, 105);
  background-color: whitesmoke;
  .switchIcon {
    padding: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(229, 240, 250);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title-h1 {
  font-weight: 600;
  font-size: 32px;
  .movies {
    color: slategray;
  }
  .reviewer {
    color: aquamarine;
    &:hover {
      font-style: italic;
    }
  }
}

@media screen and (max-width: 768px) {
  .search {
    width: 96px;
  }
}
